<div class="form-builder-ui">
  <div
    id="form-creator-area"
    cdkDropListConnectedTo="form-section-list"
    cdkDropList
    [cdkDropListData]="formSections"
    class="list-group"
    (cdkDropListDropped)="onDrop($event)"
  >
    <div
      *ngFor="
        let formSection of formSections;
        index as i
      "
      class="list-group-item"
      cdkDrag
      cdkDragBoundary=".form-builder-ui"
    >
      <div class="card mb-3">
        <app-form-section
          [formSectionData]="formSection"
          [isInApplicationForm]="true"
          (destroy)="deleteFormSection($event)"
          (updateFormSectionData)="updateFormSectionData($event)"
        ></app-form-section>
      </div>
    </div>
  </div>
</div>
