<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Expiry</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of tempUsers">
      <td>{{ user.email }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.loginExpiry | date : "short" }}</td>
      <td>
        <button type="button" class="btn btn-link btn-sm btn-rounded">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
