<!-- <div class="container py-5">
  <h5 class="fw-semibold">Form Components</h5>

  <div class="row">
    <div class="col">
      <div
        cdkDropList
        id="form-builder-components-list"
        cdkDropListSortingDisabled
        [cdkDropListData]="scholarshipFormBuilderItems"
        cdkDropListConnectedTo="list-2"
        class="list-group scholarship-form-item-list"
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          *ngFor="let formItem of scholarshipFormBuilderItems"
          class="list-group-item scholarship-form-item-block"
          cdkDrag
        >
          {{ formItem.itemDisplayName }}
        </div>
      </div>
    </div>
  </div>
</div> -->
