<div class="row justify-content-center mb-3 text-center">
  <h2>
    {{ scholarshipApplication.scholarship.school }} -
    {{ scholarshipApplication.scholarship.shortDescription }}
  </h2>
  <div class="row">
    <!-- <div class="col-1 image-container">
          <img
            class="image-container"
            *ngIf="scholarship.imageURL != null"
            src="{{ scholarship.imageURL }}"
            alt="Example"
          />
          <img
            class="image-container"
            *ngIf="scholarship.imageURL == null"
            src="../../../../assets/images/testImage.png"
            alt="Example"
          />
        </div> -->
    <div class="text-center">
      <div class="row py-3">
        <div class="col">
          <h4>Description</h4>
          <p>
            {{ scholarshipApplication.scholarship.description }}
          </p>
        </div>
      </div>

      <div class="row border-top py-3">
        <div class="col">
          <h4>Starting Date</h4>
          <p
            *ngIf="scholarshipApplication.scholarship.startDate"
            class="m-0 purpleText"
          >
            {{
              scholarshipApplication.scholarship.startDate | date : "dd/MM/yyyy"
            }}
          </p>
        </div>
        <div class="col">
          <h4>Ending Date</h4>
          <p
            *ngIf="scholarshipApplication.scholarship.endDate"
            class="m-0 purpleText"
          >
            {{
              scholarshipApplication.scholarship.endDate | date : "dd/MM/yyyy"
            }}
          </p>
        </div>
        <div class="row border-top py-3">
          <h4>Application Answers</h4>
        </div>
        <div
          class="row border-top py-3"
          *ngFor="
            let answer of this.scholarshipApplication.scholarshipFormAnswer
          "
        >
          <div class="col">
            <p class="m-0">{{ answer.name }}</p>
          </div>
          <div class="col">
            <p
              *ngIf="answer.type != 0 && answer.type != 1"
              class="m-0 purpleText"
            >
              {{ answer.value }}
            </p>
            <p *ngIf="answer.type == 0" class="m-0 purpleText">
              {{ answer.value | date : "dd/MM/yyyy" }}
            </p>
            <a
              href="{{ answer.value }}"
              target="_blank"
              *ngIf="answer.type == 1"
              class="m-0 purpleText"
            >
              Download File
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
