<div class="container mt-3 mb-3 border rounded p-3">
  <div class="row justify-content-center mb-3">
    <div class="col-8 row">
      <!-- <div [ngClass]="getStatusClass()"> <i [ngClass]="getStatusIcon"></i>{{application.status}}</div> -->
      <div class="col-1 image-container">
        <img
          class="image-container"
          *ngIf="scholarshipApplication.scholarship.imageURL != null"
          src="{{ scholarshipApplication.scholarship.imageURL }}"
          alt="Example"
        />
        <img
          class="image-container"
          *ngIf="scholarshipApplication.scholarship.imageURL == null"
          src="../../../../assets/images/testImage.png"
          alt="Example"
        />
      </div>
      <div class="col-3">
        <p class="m-0">
          <strong>{{ scholarshipApplication.scholarship.school }}</strong>
        </p>
        <p class="m-0">
          {{ scholarshipApplication.scholarship.city }}
        </p>
        <p class="m-0 purpleText">
          {{ scholarshipApplication.scholarship.value }}
        </p>
      </div>
    </div>
    <div class="col-4 text-end">
      <div class="row">
        <div *ngIf="rating != null" class="col-6">
          <p>
            Average Rating: {{ rating }}
            <i class="fa-solid fa-star text-warning"></i>
          </p>
        </div>
        <div *ngIf="tokenService.role !== USER" class="col-6">
          <p
            [ngClass]="{
                  'text-danger':
                    review == null,
                  'text-success':
                    review != null,}"
          >
            Reviewed:
            <i
              class="fa-regular"
              [ngClass]="{
                  'fa-circle-xmark rejected':
                    review == null,
                  'fa-circle-check accepted':
                    review != null,}"
            ></i>
          </p>
        </div>
      </div>
      <div class="row">
        <p>
          Date Applied:
          {{ scholarshipApplication.dateCreated | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="row">
        <p>
          <ng-container *ngFor="let status of applicationStatuses">
            <ng-container *ngIf="scholarshipApplication.status == status.value">
              Status: {{ status.name }}
              <i
                class="fa-regular"
                [ngClass]="{
                  'fa-circle-xmark rejected':
                    scholarshipApplication.status == applicationStatus.Rejected,
                  'fa-circle-check accepted':
                    scholarshipApplication.status == applicationStatus.Accepted,
                  'fa-clock pending':
                    scholarshipApplication.status == applicationStatus.Submitted
                }"
              ></i>
            </ng-container>
          </ng-container>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <h6>Description</h6>
      <p>
        {{ scholarshipApplication.scholarship.description }}
      </p>
    </div>
    <div class="col-3 float-end">
      <div class="">
        <h6>Actions</h6>

        <div class="row">
          <div class="col-6">
            <!-- <button>Apply</button> -->
            <button
              class="btn btn-sercondary w-100"
              (click)="openDetailsModal(this.scholarshipApplication)"
            >
              View Details
            </button>
          </div>
          <div *ngIf="tokenService.role !== USER" class="col-6">
            <button
              class="btn btn-primary w-100"
              (click)="openReviewModal(this.scholarshipApplication)"
            >
              Review
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngb-toast
  class="bg-success text-light text-center w-75 position-absolute bottom-0 start-50 translate-middle"
  *ngIf="success"
  [delay]="2000"
  [autohide]="true"
  (hidden)="success = false"
>
  {{ successMessage }}
</ngb-toast>
