<div class="container mt-3 mb-3 border rounded p-3">
  <div class="row justify-content-center mb-3">



    <div class="col-12 row">
      <div [ngClass]="getStatusClass()"> <i [ngClass]="getStatusIcon"></i>{{application.status}}</div>
      <div class="col-1 image-container">
        <img src="{{ application.image }}" alt="Example" />
      </div>
      <div class="col-3">
        <p class="m-0">
          <strong>{{ application.applicationTitle }}</strong>
        </p>
        <p class="m-0">
          {{ application.address }}
        </p>
        <p class="m-0 purpleText">
          {{ application.applicationValue }}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <h6>Description</h6>
      <p>
        
        {{ application.description }}
      </p>
    </div>
    <div class="col-3 float-end">
      <div class="">
        <h6>Actions</h6>

        <!-- <button>Apply</button> -->
        <button class="btn btn-sercondary">View Details</button>
      </div>
    </div>
  </div>
</div>
