<div class="container mt-3 mb-3 border rounded p-3">
  <div class="row justify-content-center mb-3">
    <div class="col-9 row">
      <!-- <div [ngClass]="getStatusClass()"> <i [ngClass]="getStatusIcon"></i>{{application.status}}</div> -->
      <div class="col-1 image-container">
        <img
          class="image-container"
          *ngIf="scholarshipApplication.scholarship.imageURL != null"
          src="{{ scholarshipApplication.scholarship.imageURL }}"
          alt="Example"
        />
        <img
          class="image-container"
          *ngIf="scholarshipApplication.scholarship.imageURL == null"
          src="../../../../assets/images/testImage.png"
          alt="Example"
        />
      </div>
      <div class="col-3">
        <p class="m-0">
          <strong>{{ scholarshipApplication.scholarship.school }}</strong>
        </p>
        <p class="m-0">
          {{ scholarshipApplication.scholarship.city }}
        </p>
        <p class="m-0 purpleText">
          {{ scholarshipApplication.scholarship.value }}
        </p>
      </div>
    </div>
    <div class="col-3 text-end">
      <div class="row">
        <p>
          Date Applied:
          {{ scholarshipApplication.dateCreated | date : "dd/MM/yyyy" }}
        </p>
      </div>
      <div class="row">
        <p>
          Status: {{ scholarshipApplication.status }}
          <i
            *ngIf="scholarshipApplication.status == applicationStatus.Rejected"
            class="fa-regular fa-circle-xmark"
            style="color: #ff0000"
          ></i>
          <i
            *ngIf="scholarshipApplication.status == applicationStatus.Accepted"
            class="fa-regular fa-circle-check"
            style="color: #1eff00"
          ></i>
          <i
            *ngIf="scholarshipApplication.status == applicationStatus.Submitted"
            class="fa-regular fa-clock"
          ></i>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-9">
      <h6>Description</h6>
      <p>
        {{ scholarshipApplication.scholarship.description }}
      </p>
    </div>
    <div class="col-3 float-end">
      <div class="">
        <h6>Actions</h6>

        <!-- <button>Apply</button> -->
        <button class="btn btn-sercondary">View Details</button>
      </div>
    </div>
  </div>
</div>
