<form [formGroup]="searchScholarshipForm" (ngSubmit)="search()">
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <mdb-form-control class="mb-4">
          <input
            mdbValidate
            mdbInput
            type="text"
            id="school"
            class="form-control"
            formControlName="school"
          />
          <label mdbLabel class="form-label" for="school">School / Name</label>
        </mdb-form-control>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <mdb-form-control class="mb-4">
          <input
            mdbValidate
            mdbInput
            type="text"
            id="value"
            class="form-control"
            formControlName="value"
          />
          <label mdbLabel class="form-label" for="value">Value</label>
        </mdb-form-control>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <mdb-form-control class="mb-4">
          <input
            mdbValidate
            mdbInput
            type="text"
            id="description"
            class="form-control"
            formControlName="description"
          />
          <label mdbLabel class="form-label" for="description"
            >Description</label
          >
        </mdb-form-control>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <mdb-form-control class="mb-4">
          <input
            mdbValidate
            mdbInput
            type="text"
            id="city"
            class="form-control"
            formControlName="city"
          />
          <label mdbLabel class="form-label" for="city">City</label>
        </mdb-form-control>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <mdb-form-control class="mb-4">
          <input
            mdbValidate
            mdbInput
            type="text"
            id="startDate"
            class="form-control"
            bsDatepicker
            [bsConfig]="{containerClass: 'theme-dark-blue',}"
            formControlName="startDate"
          />
          <label mdbLabel class="form-label" for="startDate">Start Date</label>
        </mdb-form-control>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <mdb-form-control class="mb-4">
          <input
            mdbValidate
            mdbInput
            type="text"
            id="endDate"
            class="form-control"
            bsDatepicker
            [bsConfig]="{containerClass: 'theme-dark-blue',}"
            [minDate]="todayDate"
            formControlName="endDate"
          />
          <label mdbLabel class="form-label" for="endDate">End Date</label>
        </mdb-form-control>
      </div>
    </div>
  </div>
  <button
    mdbRipple
    *ngIf="!submitting"
    [disabled]="!searchScholarshipForm.valid"
    type="submit"
    class="btn btn-primary btn-block mb-3"
  >
    Search
  </button>
  <button
    *ngIf="submitting"
    class="btn btn-primary btn-block mb-3"
    type="button"
    disabled
  >
    <span
      class="spinner-border spinner-border-sm"
      role="status"
      aria-hidden="true"
    ></span>
  </button>
</form>

<ng-container *ngIf="isError">
  <div class="alert alert-danger my-3" role="alert">
    {{ errMsg }}
  </div>
</ng-container>
