<div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="UserDeleteModalRef.close()"
    ></button>
  </div>

  <span>permanently Delete User "{{user.firstName}} {{user.lastName}}"?</span>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="UserDeleteModalRef.close()"
    >
      Close
    </button>
  
    <button
      mdbRipple
      *ngIf="!updating"
      type="button"
      class="w-20 btn btn-warning btn-block ms-auto"
      (click)="delete(user.id)"
    >
      Delete
    </button>
  
    <button
      *ngIf="updating"
      class="w-20 btn btn-primary btn-block ms-auto"
      type="button"
      disabled
    >
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    </button>
  </div>