<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Profile</title>
</head>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h3>User Profile</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>Full Name: </strong>
                <span id="fullName"
                  >{{ userDetails.firstName }} {{ userDetails.lastName }}
                </span>
              </li>
              <li class="list-group-item">
                <strong>Date of Birth: </strong>
                <span id="dob">{{ userDetails.dateOfBirth }}</span>
              </li>
              <li class="list-group-item">
                <strong>Gender: </strong>
                <span id="gender">{{ gender }}</span>
              </li>
              <li class="list-group-item">
                <strong>Email: </strong>
                <span id="email">{{ userDetails.email }}</span>
              </li>
              <li class="list-group-item">
                <strong>Mobile: </strong>
                <span id="mobile">{{ userDetails.phoneNumber }}</span>
              </li>
              <li class="list-group-item">
                <strong>Address: </strong>
                <span id="address">{{ userDetails.address }}</span>
              </li>
              <li class="list-group-item">
                <strong>Suburb: </strong>
                <span id="suburb">{{ userDetails.suburb }}</span>
              </li>
              <li class="list-group-item">
                <strong>Postcode: </strong>
                <span id="postcode">{{ userDetails.postcode }}</span>
              </li>
              <li class="list-group-item">
                <strong>State: </strong>
                <span id="state">{{ userDetails.state }}</span>
              </li>
            </ul>
            <button (click)="redirect()" class="btn btn-primary btn-block mb-3">
              Update account information
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
