
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

</head>

<body>
    <div class="container mt-5">
        
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>User Profile</h3>
                    </div>
                    <div class="card-body" >
                        <ul class="list-group">
                            <li class="list-group-item"><strong>ID: </strong> <span id="userId">{{user.id}}</span></li>
                            <li class="list-group-item"><strong>Full Name: </strong> <span id="fullName">{{user.fullName}}</span></li>
                            <li class="list-group-item"><strong>First Name: </strong> <span id="firstName">{{user.firstName}}</span></li>
                            <li class="list-group-item"><strong>Date of Birth: </strong> <span id="dob">01/01/1990</span></li>
                            <li class="list-group-item"><strong>Gender: </strong> <span id="gender">{{user.gender}}</span></li>
                            <li class="list-group-item"><strong>Email: </strong> <span id="email">{{user.email}}</span></li>
                            <li class="list-group-item"><strong>Mobile: </strong> <span id="mobile">{{user.mobile}}</span></li>
                            <li class="list-group-item"><strong>Address: </strong> <span id="address">{{user.address}}</span></li>
                            <li class="list-group-item"><strong>Suburb: </strong> <span id="suburb">{{user.suburb}}</span></li>
                            <li class="list-group-item"><strong>Postcode: </strong> <span id="postcode">{{user.postcode}}</span></li>
                            <li class="list-group-item"><strong>State: </strong> <span id="state">{{user.state}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

