<div class="container text-center mt-5 py-5 rounded">
  <div class="row">
    <img
      src="assets/images/selectu_icon.svg"
      class="w-20 mx-auto"
      alt="SelectU"
    />
  </div>
  <div class="row justify-content-center mb-3">
    <h1>Welcome to SelectU</h1>
    <div>
      <p>Next-generation Applicant Submission Management & Selection System</p>
    </div>
  </div>
  <button class="btn btn-primary" [routerLink]="'/login'">Get Started</button>
  <div class="row justify-content-center mt-5">
    <img src="assets/images/landing_image.jpeg" alt="Image" class="img-fluid" />
  </div>
</div>
