<div cdkDrag cdkDragBoundary=".form-builder-ui" class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <i cdkDragHandle class="bi bi-arrows-move h5 me-3"></i>
      <h6 class="card-title">
        {{ getFormSectionTypeDisplayName() }}
      </h6>
    </div>
    <div *ngIf="isInApplicationForm" class="d-flex">
      <button
        type="button"
        (click)="openFormSectionEditDialog()"
        class="btn btn-secondary me-2"
      >
        <i class="bi bi-pencil-square h6 me-2"></i>Edit
      </button>
      <button
        type="button"
        (click)="destroyItself()"
        class="btn btn-outline-danger"
      >
        <i class="bi bi-trash3-fill h6 me-2"></i>Delete
      </button>
    </div>
  </div>
  <ng-container *ngIf="isInApplicationForm">
    <div class="card-body">
      <div class="card-text">
        <p class="form-builder-area__field-name rounded">
          {{ formSectionData.name }}
        </p>
      </div>
    </div>
  </ng-container>
</div>
