<div class="card mb-3">
  <div class="card-header">
    <i cdkDragHandle class="bi bi-arrows-move h4 me-3"></i>
    <span class="d-inline-block">
      <h5 class="card-title">
        {{ getFormSectionTypeDisplayName() }}
      </h5>
    </span>
  </div>
  <ng-container *ngIf="isInApplicationForm">
    <div class="card-body">
      <div class="card-text">
        <p class="form-builder-area__field-name rounded">
          {{ formSectionData.name }}
        </p>
      </div>
      <p class="card-text">
        <small class="text-muted">0 options</small>
      </p>
    </div>
    <div class="card-footer text-end">
      <button
        type="button"
        (click)="openFormSectionEditDialog()"
        class="btn btn-secondary me-2"
      >
        <i class="bi bi-pencil-square h6 me-2"></i>Edit
      </button>
      <button
        type="button"
        (click)="destroyItself()"
        class="btn btn-outline-danger"
      >
        <i class="bi bi-trash3-fill h6 me-2"></i>Delete
      </button>
    </div>
  </ng-container>
</div>
