<div class="container mt-5 p-4 rounded">
  <div class="row page-header">
    <h3>Applications</h3>
  </div>
  <div *ngIf="scholarship" class="row justify-content-center">
    <app-short-view-scholarships
      [scholarship]="scholarship"
      [showActions]="false"
    ></app-short-view-scholarships>
  </div>
  <div class="row">
    <app-scholarship-application-search-form
      (scholarshipApplications)="handleSearchEvent($event)"
    ></app-scholarship-application-search-form>
  </div>
  <div
    class="row justify-content-center"
    *ngFor="let scholarshipApplication of this.scholarshipApplications"
  >
    <app-short-view-my-applications
      [scholarshipApplication]="scholarshipApplication"
    ></app-short-view-my-applications>
  </div>

  <div
    class="row justify-content-center"
    *ngIf="this.scholarshipApplications.length == 0"
  >
    <app-empty-scholarships [text]="emptyText"></app-empty-scholarships>
  </div>
</div>
