<div cdkDropListGroup class="container mt-5 rounded">
  <div class="row justify-content-center">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">

        <ul class="nav nav-tabs card-header-tabs">
          <li
            *ngFor="let tab of tabs"
            (click)="switchTabTo(tab)"
            class="nav-item"
          >
            <a class="nav-link" [class.active]="currentTab === tab">{{
              tab
            }}</a>
          </li>
        </ul>
        <button class="btn btn-success" type="submit" form="create-scholarship-form">Create Scholarship</button>
      </div>
      <div class="card-body">
        <form
          id="create-scholarship-form"
          [formGroup]="createScholarshipForm"
          (ngSubmit)="createScholarship()"
        >
          <ng-container *ngIf="currentTab === 'scholarshipInformationTab'">
            <div class="container p-5">
              <label for="school" class="form-label">School</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="school"
                  formControlName="school"
                />
              </div>

              <label for="imageURL" class="form-label">Upload Image</label>
              <div class="input-group mb-3">
                <input
                  class="form-control"
                  type="file"
                  id="imageURL"
                  formControlName="imageURL"
                />
              </div>

              <label for="value" class="form-label">Value</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="value"
                  formControlName="value"
                />
              </div>

              <label for="shortDescription" class="form-label"
                >Short Description</label
              >
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="shortDescription"
                  formControlName="shortDescription"
                />
              </div>

              <label for="description" class="form-label">Description</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="description"
                  formControlName="description"
                />
              </div>

              <label for="city" class="form-label">City</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  formControlName="city"
                />
              </div>

              <label for="state" class="form-label">State</label>
              <div class="input-group mb-3">
                <select class="form-select" formControlName="state">
                  <option [value]="null" disabled>Select a state</option>
                  <option *ngFor="let state of states" [value]="state.value">{{ state.name }}</option>
                </select>
              </div>

              <label for="startDate" class="form-label">Start Date</label>
              <div class="input-group mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  formControlName="startDate"
                />
              </div>

              <label for="endDate" class="form-label">End Date</label>
              <div class="input-group mb-3">
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  formControlName="endDate"
                />
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="currentTab === 'formBuilderTab'">
            <div class="row">
              <div class="col-md-3">
                <app-form-section-list-sidebar></app-form-section-list-sidebar>
              </div>
              <div class="col-md-9">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <app-form-creator-area></app-form-creator-area>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
