<div class="container py-5">
  <h5 class="fw-semibold">Form Sections</h5>
  <div class="row">
    <div class="col">
      <div
        cdkDropList
        id="form-section-list"
        cdkDropListSortingDisabled
        [cdkDropListData]="formSections"
        cdkDropListConnectedTo="form-creator-area"
        class="list-group"
        (cdkDropListDropped)="onDrop($event)"
      >
        <div
          *ngFor="let formSection of formSections"
          class="list-group-item"
          cdkDrag
        >
          <app-form-section
            [formSectionData]="formSection"
            [isInApplicationForm]="false"
          ></app-form-section>
        </div>
      </div>
    </div>
  </div>
</div>
