@import "bootstrap/scss/_variables.scss";

.w-33 {
  width: 33%;
}

.w-20 {
  width: 20%;
}

.container {
  background-color: $gray-100;
}

.purpleText {
  color: #7946df;
}

bs-datepicker-container {
  z-index: 9999 !important;
}
